<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Cuenta bancaria: <%= bank_accounts.bank_name %></h1>
<ul>
  <li>Teléfono: <%= bank_accounts.phone_number %></li>
  <li>CLABE: <%= bank_accounts.clabe %></li>
  <li>Número de tarjeta: <%= bank_accounts.card_number %></li>
  <li>Cuenta: <%= bank_accounts.bank_account_number %></li>
</ul>
<a href="/bank_accounts">← Volver al listado</a>

</body>
</html>